body {
  background-image: url("../img/mr_rogers.jpeg");
  background-repeat:no-repeat repeat;
}
form {
  margin: auto;
  margin-top: 100px;
  padding: 50px;
  background-color: white;
  opacity: .9;
}
#num-entry {
  width: 120px;
}

#results {
  display: none;
  background-color: white;
  opacity: .9;
  padding: 20px;
}

.btn-dark {
  margin-top: 15px;
}