body {
  background-image: url("../img/mr_rogers.jpeg");
  background-repeat:no-repeat repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
form {
  margin: auto;
  margin-top: 75px;
  padding: 50px;
  background-color: white;
  opacity: .9;
  border-radius: 25px;
}
h1 {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  text-align:center;
  margin-top: 10px;
}
#num-entry {
  width: 120px;
}

#results, #reverse{
  display: none;
  background-color: white;
  opacity: .9;
  padding: 20px;
  margin-top: 10px;
  border-radius: 25px;
}
#reverse {
  position:fixed;
  margin-left: 50px;
}

.btn-dark {
  margin-top: 15px;
}
.btn-red {
  color: #fff;
  background-color: red;
  border-color: #343a40;
}
.robo-talk {
  color:  #9C1A18;
}