body {
  background-image: url("../img/mr_rogers.jpeg");
  background-repeat:no-repeat repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
form {
  margin: auto;
  margin-top: 75px;
  padding: 50px;
  background-color: white;
  opacity: .9;
}
h1 {
  color: white;
  text-shadow: 0 0 3px black, 0 0 5px black;
  text-align:center;
  margin-top: 10px;
}
#num-entry {
  width: 120px;
}

#results {
  display: none;
  background-color: white;
  opacity: .9;
  padding: 20px;
}

.btn-dark {
  margin-top: 15px;
}
.robo-talk {
  color:  #9C1A18;
}